<app-page-header [title]="title" [breabcrumb]="breadcrumb"></app-page-header>

<nz-card>
  <form nz-form [formGroup]="form" nzLayout="vertical">
      <div nz-row nzGutter="16">
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="cadastros.marca.field.descricao" controlName="descricao">
                  <input nz-input type="text" formControlName='descricao' [maxLength]='255'/>
              </app-form-item>
          </div>
      </div>
      <div class="actions">
          <button nz-button class="btn-salvar" nzType="primary" (click)="save(form.value)">{{ 'general.buttons.save' | translate }}</button>
          <button nz-button class="btn-voltar" nzType="default" (click)="back()">{{ 'general.buttons.back' | translate }}</button>
      </div>
  </form>
</nz-card>
