@import "../../variables";

.application-default__header {
  position: fixed;
  top: 0;
  z-index: 19;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  height: 70px;
  background-color: $primary-color;
}

.application-collapsed {
  .application-default__header-logo {
    width: 200px;
  }
}

.application-default__header-logo {
  margin-left: -16px;
  transition: width 0.2s cubic-bezier(0.25, 0, 0.15, 1);
}

.application-default__header-logo-link {
  display: block;
  text-align: center;
}
