.ant-form-item-control {
  line-height: unset;
}

.ant-form-item-label > label {
  height: auto;
}

.ant-form-vertical .ant-form-item-label {
  padding-bottom: 0 !important;
}

.ant-form-item-label {
  line-height: unset;
}
