HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/

tchunai.app/target/
tchunai.business/target/
tchunai.generator/target/
tchunai.lib/target/
