@import "../../variables";

.page-view-label,
.page-view-value {
  display: block;
  text-align: left;
  border-left: 1px #e5eaea solid;
  padding-left: 12px !important;
  color: black;
}

.page-view-label {
  font-weight: normal;

  :after {
    margin: 0 !important;
  }
}

.page-view-value {
  font-weight: $font-weight-medium;
  padding-bottom: 15px;
  min-height: 36px;
  white-space: normal !important;

  :after {
    content: none !important;
  }
}

.page-view-value.pb0 {
  min-height: 21px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 15px;
}
