<app-page-header [title]="title" [breabcrumb]="breadcrumb"></app-page-header>

<nz-card>
  <form nz-form [formGroup]="form" nzLayout="vertical">
    <div nz-row nzGutter="16">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.descricao" controlName="descricao">
          <input nz-input type="text" formControlName='descricao' [maxLength]='255' />
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.precocusto" controlName="precoCusto" >
          <input currencyMask nz-input type="text" formControlName='precoCusto' (ngModelChange)="calculaValorVenda()"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.percentuallucro" controlName="percentualLucro">
          <nz-input-number formControlName='percentualLucro' [nzMin]="0"[nzStep]="1" (ngModelChange)="calculaValorVenda()"></nz-input-number>
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.precovenda" controlName="precoVenda">
          <input currencyMask nz-input type="text" formControlName='precoVenda'
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
        </app-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.peso" controlName="peso">
          <input nz-input type="text" formControlName='peso' [maxLength]='255' />
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.quantidadeAtual" controlName="quantidadeAtual">
          <nz-input-number formControlName="quantidadeAtual" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.codigoBarras" controlName="codigoBarras">
          <input nz-input type="text" formControlName='codigoBarras' [maxLength]='255' />
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.active" controlName="active">
          <label nz-checkbox formControlName='active'></label>
        </app-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.categoria" controlName="categoria">
          <app-lazy-list [loader]='categoriaService' label='descricao'
            [nzPlaceHolder]="'general.labels.select' | translate" [nzAllowClear]='true' formControlName='categoria'
            [compareWith]='comparator.compare("id")'></app-lazy-list>
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.marca" controlName="marca">
          <app-lazy-list [loader]='marcaService' label='descricao' [nzPlaceHolder]="'general.labels.select' | translate"
            [nzAllowClear]='true' formControlName='marca' [compareWith]='comparator.compare("id")'></app-lazy-list>
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.tamanho" controlName="tamanho">
          <app-lazy-list [loader]='tamanhoService' label='descricao'
            [nzPlaceHolder]="'general.labels.select' | translate" [nzAllowClear]='true' formControlName='tamanho'
            [compareWith]='comparator.compare("id")'></app-lazy-list>
        </app-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.cor" controlName="cor">
          <app-lazy-list [loader]='corService' label='descricao' [nzPlaceHolder]="'general.labels.select' | translate"
            [nzAllowClear]='true' formControlName='cor' [compareWith]='comparator.compare("id")'></app-lazy-list>
        </app-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
        <app-form-item label="cadastros.produto.field.colecao" controlName="colecao">
          <app-lazy-list [loader]='colecaoService' label='descricao'
            [nzPlaceHolder]="'general.labels.select' | translate" [nzAllowClear]='true' formControlName='colecao'
            [compareWith]='comparator.compare("id")'></app-lazy-list>
        </app-form-item>
      </div>
    </div>
    <div class="actions">
      <button nz-button class="btn-salvar" nzType="primary"
        (click)="save(form.value)">{{ 'general.buttons.save' | translate }}</button>
      <button nz-button class="btn-salvar" nzType="primary" *ngIf="!entity.id"
                (click)="saveAndContinue(form.value)">{{ 'general.buttons.saveAndContinue' | translate }}</button>
      <button nz-button class="btn-voltar" nzType="default"
        (click)="back()">{{ 'general.buttons.back' | translate }}</button>
    </div>
  </form>
</nz-card>
