<ng-template #advanced>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
      <app-form-item label="cadastros.produto.field.categoria">
        <app-lazy-list [loader]='categoriaService' label='descricao' [nzPlaceHolder]="'general.labels.select' | translate"
          [nzAllowClear]='true' [(ngModel)]='filtro.categoria' [compareWith]='comparator.compare("id")'></app-lazy-list>
      </app-form-item>
    </div>
  </div>
</ng-template>
<app-filter-layout [grid]="grid" [size]="2" [advanced]="advanced">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <app-form-item label="cadastros.produto.field.descricao">
        <input nz-input type="text" [(ngModel)]='filtro.descricao' [maxLength]='255'/>
      </app-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <app-form-item label="cadastros.produto.field.codigoBarras">
        <input nz-input type="text" [(ngModel)]='filtro.codigoBarras'/>
      </app-form-item>
    </div>
  </div>
</app-filter-layout>
